appOperator:
  catalog: control-plane-catalog
  # used by renovate
  # repo: giantswarm/app-operator
  version: 7.5.2

chartOperator:
  catalog: default
  # used by renovate
  # repo: giantswarm/chart-operator
  version: 4.2.0

baseDomain: ""

managementClusterID: ""

proxy:
  noProxy: ""
  http: ""
  https: ""

cni:
  mask: 16
  subnet: 10.1.0.0

deployment:
  requests:
    cpu: 100m
    memory: 220Mi
  limits:
    cpu: 100m
    memory: 220Mi

image:
  name: "giantswarm/cluster-apps-operator"
  tag: ""

controller:
  resyncPeriod: "5m"

kubernetes:
  api:
    clusterIPRange: 10.96.0.0/12
  clusterDomain: cluster.local

pod:
  user:
    id: 1000
  group:
    id: 1000

registry:
  domain: gsoci.azurecr.io
  mirrors:
    - giantswarm.azurecr.io
  pullSecret:
    dockerConfigJSON: ""

verticalPodAutoscaler:
  enabled: true

# Add seccomp to pod security context
podSecurityContext:
  seccompProfile:
    type: RuntimeDefault

# Add seccomp to container security context
securityContext:
  readOnlyRootFilesystem: true
  allowPrivilegeEscalation: false
  capabilities:
    drop:
      - ALL
  runAsNonRoot: true
  seccompProfile:
    type: RuntimeDefault

serviceMonitor:
  enabled: true
  # -- (duration) Prometheus scrape interval.
  interval: "60s"
  # -- (duration) Prometheus scrape timeout.
  scrapeTimeout: "45s"
